@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout-consumeAPI";
}
<h1 class="shadow-sm">List Pokemon</h1>

<div id="list-pokemon">
    <table id="pokemonTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="pokemonSW">
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSW" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6" id="modal-image"></div>
                    <div class="col-6" id="modal-abilities">
                        Abilities:
                        <ul>
                            <li></li>
                        </ul>
                        Types :
                        <div id="types">

                        </div>
                    </div>
                </div>
                <div class="row align-items-center me-5 ms-3">
                    <label class="col-sm-2 d-flex align-items-center label-height">
                        <div class="responsive-text">HP</div>
                    </label>
                    <div class="progress col-10 progress-height">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="base-hp" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; height: 100%;">
                            <span class="progress-bar-text"></span>
                        </div>
                    </div>
                    <label class="col-sm-2 d-flex align-items-center label-height">
                        <div class="responsive-text">Attack</div>
                    </label>
                    <div class="progress col-10 progress-height">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" id="base-attack" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; height: 100%;">
                            <span class="progress-bar-text"></span>
                        </div>
                    </div>
                    <label class="col-sm-2 d-flex align-items-center label-height">
                        <div class="responsive-text">Defense</div>
                    </label>
                    <div class="progress col-10 progress-height">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" id="base-defense" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; height: 100%;">
                            <span class="progress-bar-text"></span>
                        </div>
                    </div>
                    <label class="col-sm-2 d-flex align-items-center label-height">
                        <div class="responsive-text">Special Attack</div>
                    </label>
                    <div class="progress col-10 progress-height">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="base-special-attack" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; height: 100%;">
                            <span class="progress-bar-text"></span>
                        </div>
                    </div>
                    <label class="col-sm-2 d-flex align-items-center label-height">
                        <div class="responsive-text">Special Defense</div>
                    </label>
                    <div class="progress col-10 progress-height">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="base-special-defense" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; height: 100%;">
                            <span class="progress-bar-text"></span>
                        </div>
                    </div>
                    <label class="col-sm-2 d-flex align-items-center label-height">
                        <div class="responsive-text">Speed</div>
                    </label>
                    <div class="progress col-10 progress-height">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="base-speed" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; height: 100%;">
                            <span class="progress-bar-text"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

